/* ── Global reset ── */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */
.rack {
  text-align: center;
  width: calc(17.5in / 7);
  background-color: black;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
}

.rack table {
  border: 1px solid white;
  width: calc(17.5in / 7);
  height: calc(1.75in / 7);
  border-collapse: collapse;
}

.rack th {
  border: 1px solid white;
  width: calc(17.5in / 7);
  height: calc(1.75in / 7);
  background-color: #f2f2f2;
  border-collapse: collapse;
}

.rack td {
  border: 1px solid white;
  border-collapse: collapse;
  width: calc(17.5in / 7);
  height: calc(1.75in / 7);
  background-color: #555;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

.asset {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.asset img {
  margin: auto;
  vertical-align: middle;
  width: calc(17.5in / 7);
}

.ru {
  display: table-cell;
  vertical-align: middle;
}

.ru-text {
  text-align: center;
  color: white;
  position: absolute;
  display: block;
  margin: -20px auto;
  background: rgba(0, 0, 0, 0.7);
}

.ru1 {
  width: calc(17.5in / 7);
  height: calc(1.75in / 7);
}

.ru2 {
  width: calc(17.5in / 7);
  height: calc(3.5in / 7);
}

.ru3 {
  width: calc(17.5in / 7);
  height: calc(5.25in / 7);
}

.ru4 {
  height: calc(7in / 7);
}

.ru5 {
  height: calc(8.75in / 7);
}

.ru6 {
  height: calc(10.5in / 7);
}
