.rack {
  text-align: center;
  width: calc(17.5in / 5);
  background-color: black;
  padding: 30px 30px 30px 30px;
}

.rack table {
  border: 1px solid white;
  width: calc(17.5in / 5);
  height: calc(1.75in / 5);
  border-collapse: collapse;
}

.rack th {
  border: 1px solid white;
  width: calc(17.5in / 5);
  height: calc(1.75in / 5);
  background-color: #f2f2f2;
  border-collapse: collapse;
}

.rack td {
  border: 1px solid white;
  border-collapse: collapse;
  width: calc(17.5in / 5);
  height: calc(1.75in / 5);
  background-color: #555;
  color: white;
  font-weight: bold;
}

.rack img {
  margin: auto;
  vertical-align: middle;

  width: calc(17.5in / 5);
}
