<div class="rack">
  <table>
    <thead>
      <th><strong>Rack: </strong>{{ rack?.name }} - {{ rack?.location }}</th>
    </thead>
    <tr *ngFor="let rackElem of rackRender">
      <td
        *ngIf="rackElem.visible"
        [attr.rowspan]="rackElem.device ? rackElem.device.device_rack_units : 1"
      >
        <div class="ru ru1" *ngIf="!rackElem.device">
          {{ rackElem.position }}
        </div>
        <img
          class="ru ru{{
            rackElem.device ? rackElem.device.device_rack_units : 1
          }}"
          *ngIf="rackElem.device"
          src="http://localhost:8000/files/{{ rackElem.device.device_image }}"
          alt="{{ rackElem.device.device_hostname }}"
        />
      </td>
    </tr>
  </table>
</div>
