.rack {
  text-align: center;
  width: calc(17.5in / 5);
  background-color: black;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
}

.rack table {
  border: 1px solid white;
  width: calc(17.5in / 5);
  height: calc(1.75in / 5);
  border-collapse: collapse;
}

.rack th {
  border: 1px solid white;
  width: calc(17.5in / 5);
  height: calc(1.75in / 5);
  background-color: #f2f2f2;
  border-collapse: collapse;
}

.rack td {
  border: 1px solid white;
  border-collapse: collapse;
  width: calc(17.5in / 5);
  height: calc(1.75in / 5);
  background-color: #555;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

.rack img {
  margin: auto;
  vertical-align: middle;
  width: calc(17.5in / 5);
}

.ru {
  display: table-cell;
  vertical-align: middle;
}

.ru-text {
  width: calc(17.5in / 5);
  text-align: center;
  color: white;
  position: absolute;
  display: block;
  margin: -18px auto;
  background: rgba(0, 0, 0, 0.7);
}

.ru1 {
  width: calc(17.5in / 5);
  height: calc(1.75in / 5);
}

.ru2 {
  width: calc(17.5in / 5);
  height: calc(3.5in / 5);
}

.ru3 {
  width: calc(17.5in / 5);
  height: calc(5.25in / 5);
}

.ru4 {
  height: calc(7in / 5);
}

.ru5 {
  height: calc(8.75in / 5);
}

.ru6 {
  height: calc(10.5in / 5);
}
