:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.warehouse-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.table-wrap {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
}
